/*
palette
primary: #043e6d; //dark blue
secondary: #fabe69; //clay carrot
tertiary: #af5539; //clay brown
#fff; //white for text

new palette
#14213d //darkblue
#fca311 golden orange

//light blue rgba(153, 221, 255, 0.3)
//aqua green rgba(63, 210, 199, 0.3)
*/

/*
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #fff;
    background-color: #14213d;
}



a{
	text-decoration: none;
}

a, a:visited, a:hover, a:active{
	color: inherit;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img{
	width: 200px;
	height: 200xp;
}

.navbar-container{
	max-width:  1300px;
	padding:  0 80px;
	margin:  auto;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #14213d;
	font-family: Arial, sans-serif;
    border-bottom: 1px solid #fca311;
}
.navbar .navbar-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a{
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu{
	height: 80px;
}

.navbar .menu li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 75px;

}

.navbar .menu li a{
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.menu-highlight{
	border-bottom: 5px solid #fca311;
	background-color: rgba(252, 163, 17, .6);
}

section{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    flex-wrap: wrap;
}

.text-container{
	padding: 50px;
	background-color: #fca311;
	display: inline-block;
	border-radius: 10px;
}

#home-container{
	width: 60%;	
}

#home-container>h1{
	font-size: 48px;
}

#home-container>p{
	font-size: 24px;
}

.socials i {
	padding: 20px;
	font-size: 48px;
}

#about-section{
    height: 80vh;
}
#about-container{
	width: 60%;
	display: flex;
    text-align: center;
    justify-content: center;
    
}

#projects-section{
    height: 150vh;
}

#projects-container{
	width: 60%;
	display: grid;
	gap: 25px;
	grid-template-columns: 1fr 1fr;
    background-color: #14213d;
}

.projects-card{
	border-radius: 10px;
    background-color: #fca311;
}

.projects-card>*{
    margin: 10px;
}
.projects-card img{
    border-radius: 10px;
}

.code i {
	padding: 10px;
	font-size: 24px;
}

.projects-skills>*{
	padding: 5px;
	
}
#resume-section{
}
#resume-container{
	padding: 20px 50px;
}

#resume-image{
	width: 60%;
	border-radius: 10px;
}

#contact-section{
}

#contact-form-image{
	width: 60%;
	border-radius: 10px;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#footer-container{
    width: 100%;
    border-radius: 0;
}
*/

/* color palette

14213d - dark blue - background
fcbf49 - diffused golden - secondary
ffffff - white - text



*/
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif !important;
	color: #fff !important;
    background-color: #14213d !important;
}

.card, .card-body, .card .list-group-item{
    background-color: #fcbf49 !important;
}

a{
	text-decoration: none !important;
}

a, a:visited, a:hover, a:active{
	color: inherit;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav.navbar{
    background-color: #14213d !important;
}

.socials i {
	padding: 20px;
	font-size: 48px;
    color: #fcbf49 !important;
}

section{
    margin-top: 20px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    flex-wrap: wrap;
}

#about-container{
    width: 80%;
}

#resume-image{
	width: 80%;
}

#contact-form-image{
    width: 80%;
}